{% extends 'layout.html' %}
{% load bootstrap3 %}
{% load static from staticfiles %}
{% block content %}
<div class="row mb-2">
    <div class="col-md-6">
        <div class="row-md-4">
            <form class="form-signin" method="post">
                <!--<img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">-->
                <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                {% endbuttons %}
            </form>
        </div>
    </div>

</div>
{% endblock %}
</html>
