{% extends 'layout.html' %}
{% block title %}{{ object.title }} | {{ block.super }}{% endblock %}
{% block content %}
<div class="blog-post">
    <h2 class="blog-post-title">{{ object.title }}</h2>
    <p class="blog-post-meta">{{ object.publish }} by <a href="#">{{ object.author|capfirst }}</a></p>
    <p class="blog-post-summary">{{ object.summary }}</p>
    <hr>
    <p>{{ object.body }}</p>
    <p class="blog-post-meta">Last updated at {{ object.updated_at }} by <a href="#">{{ object.author|capfirst }}</a></p>
</div>
{% endblock %}